
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
}

img {
  display: block; 
  }

h1, p {
  color: #333;
}

div.propEditor {
  width:1184px;
  background-color: #ffd700;
  margin: 4px;
  padding: 4px;
}

div.fileSection {
  width:1192px;
  background-color: lightgreen; 
  color: #202020;
  padding: 4px;
}

div.newSection {
  width:1192px;
  background-color: lightblue;  
  color: #200020;
  padding: 4px;
}

div.runArea {
  width:1192px;
  background-color: yellow;
  padding: 4px;
}

div.selectArea {
  overflow:auto;
  width:1200px;
}

div.helpArea {
  background-color: #ffd7d7;
  padding: 4px;
}

div#board {
  overflow:auto;
  width:1200px;
  overflow: auto;
  height: 600px;

}

div#mouseover {
  width:1200px;
  height:18px;
  background-color: #F8afaf;
}

div#messages {
  width:1200px;
  height:18px;
  background-color: #afafF8;
}

table.runboard {
  background-color: white;
  border-collapse: collapse;
}

table.runboard * {
  padding: 0px;
  margin: 0px;
  border: none;
}

table.editboard {
  background-color: grey;
  border-collapse: collapse;
}

table.editboard * {
  padding: 1px;
  margin: 0px;
  border: none;
}
